@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Roboto&display=swap');
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

*{
    position: fixed;
}

body{
    /* Layout Properties */
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 1080px;
    /* UI Properties */
    background: #F2F2F2 0% 0% no-repeat padding-box;
    opacity: 1;
}

input{
    border: none;
}

footer{
    width: 100%;
	height: 44px;
	bottom: 0px;
	position: absolute;
}

#wrap{
    min-height: 100vh;
    position: relative;
    width: 100%;
}

#title{
    top: 41px;
    left: 66px;
    width: 600px;
    height: 65px;
    text-align: left;
    font: normal normal bold 45px/65px Noto Sans CJK KR;
    letter-spacing: 0px;
    color: #0A2BA0;
    opacity: 1;
}

#searchbox {
    top: 48px;
    left: 1254px;
    width: 558px;
    height: 58px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 26px;
    opacity: 1;
}

#query{
    /* Layout Properties */
    top: 64px;
    left: 1294px;
    width: 70px;
    height: 26px;
    /* UI Properties */
    text-align: left;
    font: normal normal medium 20px/24px Pretendard;
    letter-spacing: 0px;
    color: #686868;
    opacity: 1;
}

#search_btn{
    /* Layout Properties */
    top: 62px;
    left: 1753px;
    width: 30px;
    height: 30px;
    /* UI Properties */
    background: #000000 0% 0% no-repeat padding-box;
    opacity: 0.8;
}

#bar{
    /* Layout Properties */
    top: 124px;
    left: 66px;
    width: 1746px;
    height: 0px;
    /* UI Properties */
    border: 2px solid #707070;
    opacity: 1;
}